<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=yes">
    <title>Petscorp</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="icon" href="{% static 'core/img/badguylogo.PNG' %}">
    </head>
<body>
  <div class="container" style="height: 100%;">
    <div class="row">
      <div class="col-sm-1" id="barra-izquierda">
      </div>
    <div class="col-sm-10"> 
     <form action="index.html" method="get">
        <div class="imgcontainer">
          <div id="titulo-principal"><h1>Administrador</h1></div>
          <div id="titulo-principal"><h3>PetsCorp</h3></div>
          <img src="{% static 'core/img/scratch.gif' %} " alt="Avatar" class="avatar" height="350">
        </div>
        <div class="container">

            <div class="row g-2">
                <div class="col-md-4">

                      <button type="button" class="btn btn-success" name="btnConectar"
                        onclick=" function listar(idUsuario,usuario){
                            var result= '';
                            for (var i in idUsuario){
                                if (usuario.hasOwnProperty(i)){
                                    result = usuario.user+ +usuario.pass+ +usuario.direct+"+usuario.mail;
                                    console.log(result);
                                }
                            }
                            return result;
                    
                        }>Listar usuarios registrados</button>
                </div>
            </div>
            <div class="row g-10">
                <div class="col-md-8">
                    <table name="tabla1" id="tabla1" class="table table-dark table-hover table-responsive-md-8"
                        style="visibility: hidden;">
                        <thead>
                            <tr>
                                <th>User name</th>
                                <th>Password</th>
                                <th>User type</th>
                                <th>Descriptions</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody name="bodyTabla1" id="bodyTabla1">
                        </tbody>
                    </table>
                </div>
      
        <div class="container" style="background-color:rgb(255, 255, 255)">
          <a href="index0.html"><button type="button">Regresar</button></a>
        
        </div>
      </form> 
    </div>
  </div>

      <!--pie de pagina-->

      <div class="col-sm-12" id="barra-secundaria">
        <footer class="footer" id="bajada">
          <div class="social">
            <a href="https://www.instagram.com/?hl=es"><img src="{% static 'core/img/instagram.png' %}" alt="instagram" id="instagram"></a>
            <a href="https://es-la.facebook.com/"><img src="{% static 'core/img/facebook.png' %}" alt="facebook" id="facebook"></a>
            <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZXMifQ%3D%3D%22%7D"><img src="{% static 'core/img/twitter.png' %}" alt="twitter"   id="twitter"></a>
            <a href="https://web.whatsapp.com/"><img src="{% static 'core/img/whatsapp.png' %}" alt="Whastsapp" id="Whastsapp"></a>

          </div>
          <dl>
            <dt id="tel">TELEFONO       </dt><a href="#"><img src="{% static 'core/img/telephone.png' %}" alt="telephone" id="telephone"></a>
            <dd>
              <a href="tel:+56 9 55555555">(+56 9 5555555)</a>
            </dd>
          </dl>
          
        
          <div class="col-sm-12" id="barra-secundaria">
            <a class="weatherwidget-io" href="https://forecast7.com/es/n33d45n70d67/santiago/" data-label_1="Santiago" data-icons="Climacons Animated" data-days="3" data-theme="clear" >Santiago</a>
            <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script>
          </div>

          <h1></h1>
          <center>
            <a href="climadetalles.html"><button type="button" class="btn btn-light" >Ver tu geolocalizacion</button></a>
        </center>
      
          <p class="copyright">Petscorp inc. 2022</p>
        

        </footer>
    </div>

</body>
</html>