<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=yes">
    <title>Petscorp</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="icon" href="{% static 'core/img/badguylogo.PNG' %}">
    </head>
<body>
 
  <div class="container" style="height: 100%;">
    <div class="row">
      <div class="col-sm-1" id="barra-izquierda">
      </div>
        <div class="col-sm-12" style="background-color:rgb(253, 253, 253) ;" id="barra-central">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar" href="#">
              <img src="{% static 'core\img\PerroLogo.png' %}" alt="perrologo" id="logo-pagina">
            </a>
            <div id="titulo-principal"><h2>PetsCorp</h2></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
              </span>
            </button>
                  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      
              <!--Menu Navbar-->       
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}" id="textos-barra">Inicio 
                      
                    <span class="sr-only">(current)
                    </span>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'us' %}">Quienes somos</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'don' %}">Donaciones</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gato' %}">Catalogo</a>
                  </li>
                  
            <br>
                  <UL>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-outline-warning" type="submit">Buscar</button>
                </form>
            </UL>
                
              </ul>
              
              <a class="nav-link" href="{% url 'login' %}" id="cerrar-sesion">iniciar sesion
              </a>
             
            </div>
          
            </nav>
            <body>
                <center>
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action active">
                      Datos de transferencia
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">Banco: BCI</button>
                    <button type="button" class="list-group-item list-group-item-action">Rut: 20.456.395-2</button>
                    <button type="button" class="list-group-item list-group-item-action">Tipo de cuenta: Cuenta corriente </button>
                    <div class="alert alert-warning" role="alert">
                        Recuerda, Te enviaremos un correo confirmando tu pedido!
                      </div>
                                 <!-- Button trigger modal -->
            <button  onclick="document.getElementById('demo').innerHTML = getRndInteger(1,10)" type="button" id="modaling" class="sumbit"  data-toggle="modal" data-target="#exampleModal">
                He transferido!
              </button>
              <h1></h1>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" required>
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">PetsCorp</h5>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-warning" role="alert">
                            Pedido registrado! 🐶🐱</div>
                            <BR></BR>
                             Codigo de pedido:  <p id="demo"></p>
                      <div class="alert alert-warning" role="alert">
                        Te contactaremos pronto!
                    </div>
                      <td>Redirecionando en</td> <div id="counter">15</div>
                   
                    </div>
                    <div class="modal-footer">
                    </div>
                  </div>
                </div>
              </div>
                  </div>
                </center>
            </body>
                <script>
                    setInterval(function() {
                        var div = document.querySelector("#counter");
                        var count = div.textContent * 1 - 1;
                        div.textContent = count;
                        if (count <= 0) {
                            window.location.replace("{% url 'home' %}");
                        }
                    }, 1000);
                </script>
         

            <script>
            function getRndInteger(min, max) {
              return Math.floor(Math.random() * (max - min + 123432) ) + min;
            }
            </script>
            

          <!--pie de pagina-->

          <div class="col-sm-12" id="barra-secundaria">
            <footer class="footer" id="bajada">
              <div class="social">
                <a href="https://www.instagram.com/?hl=es"><img src="{% static 'core/img/instagram.png' %}" alt="instagram" id="instagram"></a>
                <a href="https://es-la.facebook.com/"><img src="{% static 'core/img/facebook.png' %}" alt="facebook" id="facebook"></a>
                <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZXMifQ%3D%3D%22%7D"><img src="{% static 'core/img/twitter.png' %}" alt="twitter"   id="twitter"></a>
                <a href="https://web.whatsapp.com/"><img src="{% static 'core/img/whatsapp.png' %}" alt="Whastsapp" id="Whastsapp"></a>

              </div>
              <dl>
                <dt id="tel">TELEFONO       </dt><a href="#"><img src="{% static 'core/img/telephone.png' %}" alt="telephone" id="telephone"></a>
                <dd>
                  <a href="tel:+56 9 55555555">(+56 9 5555555)</a>
                </dd>
              </dl>
              
         

              <div class="col-sm-12" id="barra-secundaria">
                <a class="weatherwidget-io" href="https://forecast7.com/es/n33d45n70d67/santiago/" data-label_1="Santiago" data-icons="Climacons Animated" data-days="3" data-theme="clear" >Santiago</a>
                <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
                </script>
              </div>

              <h1></h1>
              <center>
                <a href="{% url 'clima' %}"><button type="button" class="btn btn-light" >Ver tu geolocalizacion</button></a>
            </center>
          
              <p class="copyright">Petscorp inc. 2022</p>


            </footer>
          </div>
      
        </div>
        <div class="col-sm-1" id="barra-derecha" >
        </div>
    </div>
  </div>
</body>
</html>