<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=yes">
    <title>Petscorp</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="icon" href="{% static 'core/img/badguylogo.PNG' %}">
    </head>
<body>
 
  <div class="container" style="height: 100%;">
    <div class="row">
      <div class="col-sm-1" id="barra-izquierda">
      </div>
        <div class="col-sm-12" style="background-color:rgb(253, 253, 253) ;" id="barra-central">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar" href="#">
              <img src="{% static 'core\img\PerroLogo.png' %}" alt="perrologo" id="logo-pagina">
            </a>
            <div id="titulo-principal"><h2>PetsCorp</h2></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
              </span>
            </button>
                  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      
              <!--Menu Navbar-->       
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}" id="textos-barra">Inicio 
                      
                    <span class="sr-only">(current)
                    </span>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'us' %}">Quienes somos</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'don' %}">Donaciones</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gato' %}">Catalogo</a>
                  </li>
                  
            <br>
                  <UL>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-outline-warning" type="submit">Buscar</button>
                </form>
            </UL>
                
              </ul>
              
              <a class="nav-link" href="{% url 'login' %}" id="cerrar-sesion">iniciar sesion
              </a>
             
            </div>
          
            </nav>

          
          <hr>
          
          <h1 id="titulo-fundacion">Una buena causa 🐶😸</h1>
          <br>
          <p id="texto-principal">
                Los perros y gatos callejeros son parte del paisaje nacional. De norte a sur, en todos
                lados están presentes y en gran medida esto depende de la baja educación que tienen los
                chilenos y chilenas en tenencia responsable de mascotas. Muchos de estos animales
                algún día vivieron en un hogar con una familia humana, pero finalmente terminaron
                abandonados en las calles
                
                ,Aqui puedes donar a la organizacion que tu quieras y aportar a la causa!
          </p>
          <center>
          <a href="https://www.webpay.cl/portalpagodirecto/pages/institucion.jsf?idEstablecimiento=12255607"><button type="button">Donar</button></a>
        </center>
          <br>
         
          <hr>
          <h1 id="titulo-fundacion">Nuestra ubicación</h1>
          <!--Se crea un cols para ubicar el mapa de mejor forma-->
          <div class="cols-sm-12" id="barra-mapa" align="center">
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.3255106497977!2d-70.61708952336302!3d-33.43261059276557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf7b8af466fd%3A0xc8fd2d768e783103!2sDuoc%20UC%3A%20Antonio%20Varas!5e0!3m2!1ses-419!2scl!4v1649263006858!5m2!1ses-419!2scl"
            width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>




          <!--pie de pagina-->
          <div class="col-sm-12" id="barra-secundaria">
            <footer class="footer" id="bajada">
              <div class="social">
                <a href="https://www.instagram.com/?hl=es"><img src="{% static 'core/img/instagram.png' %}" alt="instagram" id="instagram"></a>
                <a href="https://es-la.facebook.com/"><img src="{% static 'core/img/facebook.png' %}" alt="facebook" id="facebook"></a>
                <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZXMifQ%3D%3D%22%7D"><img src="{% static 'core/img/twitter.png' %}" alt="twitter"   id="twitter"></a>
                <a href="https://web.whatsapp.com/"><img src="{% static 'core/img/whatsapp.png' %}" alt="Whastsapp" id="Whastsapp"></a>

              </div>
              <dl>
                <dt id="tel">TELEFONO       </dt><a href="#"><img src="{% static 'core/img/telephone.png' %}" alt="telephone" id="telephone"></a>
                <dd>
                  <a href="tel:+56 9 55555555">(+56 9 5555555)</a>
                </dd>
              </dl>
              
            
              <div class="col-sm-12" id="barra-secundaria">
                <a class="weatherwidget-io" href="https://forecast7.com/es/n33d45n70d67/santiago/" data-label_1="Santiago" data-icons="Climacons Animated" data-days="3" data-theme="clear" >Santiago</a>
                <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
                </script>
              </div>

              <h1></h1>
              <center>
                <a href="climadetalles.html"><button type="button" class="btn btn-light" >Ver tu geolocalizacion</button></a>
            </center>
          
              <p class="copyright">Petscorp inc. 2022</p>
            

            </footer>
          </div>
      
        </div>
        <div class="col-sm-1" id="barra-derecha" >
        </div>
    </div>
  </div>
</body>
</html>
